.total-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  box-shadow: 0 0 2px gray;
  border-radius: 8px;
  padding: 18px 10px;
  margin-bottom: 18px;
}
.total-option > p {
  font-weight: bold;
  margin-left: 10px;
}
.selected-option {
  color: white;
  background-color: black;
}
