.result-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  box-shadow: 0 0 2px gray;
  border-radius: 8px;
  padding: 18px 10px;
  margin-bottom: 18px;
}
.result-option > p {
  font-weight: bold;
  margin-left: 10px;
}
.green-background {
  background-color: rgb(202, 253, 189);
}
.red-background {
  background-color: rgb(245, 187, 187);
}
